<nav class="py-2 mt-3">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            
            
            <li><a href="#" class="marca" aria-current="page"><h3>OneMost</h3></a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a routerLink= "todo" class="nav-link link px-2">Todo</a></li>
            <li class="nav-item"><a routerLink= "post" class="nav-link link px-2">Posts</a></li>
            <li class="nav-item"><a routerLink= "usuario" class="nav-link link px-2">Usuarios</a></li>
            <li class="nav-item"><a routerLink= "comentarios" class="nav-link link px-2">Comentarios</a></li>
        </ul>
    </div>
</nav>
